<h1>Sign up</h1>
<%= form_for User.new, controller: 'users',action: 'create' do |f|%>
    <%=f.label :name%>
    <%=f.text_filed :name%>

    <%=f.label :email%>
    <%=f.email :email%>

    <%=f.label :password%>
    <%=f.text_filed :password%>

    <%=f.label :password_confirmation%>
    <%=f.text_filed :password_confirmation%>

    <%= f.submit 'create'%>
<%end%>