<% @users.each do user%>
<div>
    <p><%= user.name%></p>
    <p><%= user.email%></p>
    <p><%= user.events%></p>
    <p><%= user.attended_events.previous%></p>
    <p><%= user.attended_events.upcoming%></p>
</div>
<%end%>