<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |event|%>
    <h4>title</h4>
    <p><%=event.title %></p>
    <h4>description</h4>
    <p><%=event.description %></p>
    <h4>location</h4>
    <p><%= event.location%></p>
<%end%>

<%if current_user%>
<%= link_to 'create event' , events_new_path%>
<%else%>
<%=link_to 'login', login_path%>
<%=link_to 'signup', new_user_path%>
<%end%>
