<h1>Details for <%=@event.title%> </h1>

<p>What: <%=@event.description%></p>
<p>When: <%=@event.date%></p>
<h4>created by</h4>
<%=link_to @event.creator.name,  users_show_path(@event.creator.id)%>
<hr>
<%= @event.attendances%>
<hr>
<%=link_to 'HOME', root_path %>
